allow thermal-engine sysfs_uio:dir { open read search };
allow thermal-engine sysfs_uio:lnk_file read;
allow thermal-engine sysfs_uio_file:dir search;
allow thermal-engine { sysfs_uio_file file_contexts_file }:file r_file_perms;
allow thermal-engine self:process setfscreate;
allow thermal-engine shell_exec:file { execute execute_no_trans getattr open read };
allow thermal-engine socket_device:sock_file { create relabelfrom setattr };
allow thermal-engine thermal_socket:sock_file relabelto;
allow thermal-engine toolbox_exec:file { execute execute_no_trans getattr open read };
